/*ブラウザがそれぞれ持っているcssをリセット*/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/*メインビジュアル用*/
.main-visual{
  width:100%;
  height:500px;
  background-color:orange;
}
/*ヘッダー用*/
.header{
  width:100%;
  height:50px;
  background-color:red;
}

/*メイン用*/
.main{
  width:960px;
  /*flexbox利用後、background-color,heigtの指定を解除する*/
  /*中央寄せ（左右に余白がないと使用不可*/
  margin:0 auto;
/*親要素のメインへflexboxを適用させる*/
  display:flex;
  justify-content:center;
}

.sidebar-left{
  width:230px;
  height:1400px;
  background-color:palegreen;
}
.blog{
  width:500px;
  height:1400px;
  background-color:limegreen;
}
.sidebar-right{
  width:230px;
  height:1400px;
  background-color:palegreen;
}

/*フッター用*/
.footer{
  width:100%;
  height:100px;
  background-color:blue;
}